.login-background{
    background: linear-gradient(0deg, #E67D53 -1.04%, #FDBD4F 102.34%);
    height: 100vh;
}
.login-container{
    position: absolute;
    width: 48%;
    left: 27%;
    top: 15%;
    background: #FFFFFF;
    border-radius: 10px;
}
.login-input-feld{
    width: 75%;
    margin: auto;
    margin-bottom: 40px;
}
.login-btn{ 
    width: 100%;
    color: white;
    font-size: 20px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #E67D53 -1.04%, #FDBD4F 102.34%);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: large;
}
.link-btn{
   width: 100%;
   height: 45px;
   background : '#3A5998';
   display: flex; 
  
}
.ellipse1{
    position: absolute;
    Width: 235px;
    Height: 256px;
    Top: -100px;
    Left: 60%;
}
.ellipse2{
    position: absolute;
    Width: 235px;
    Height: 256px;
    top: 50%;
    Left: 15%;
}

@media only screen and (max-width: 700px) {
    .login-container{
        position: absolute;
        width: 60%;
        left: 22%;
        top: 10%;
        background: #FFFFFF;
        border-radius: 10px;
    }  
}
@media only screen and (max-width: 400px) {
    .login-container{
        position: absolute;
        width: 85%;
        left: 7.5%;
        top: 10%;
        background: #FFFFFF;
        border-radius: 10px;
    }  
}