.home-navbar{
    display: flex;
    justify-content:space-between;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(46, 125, 50, 0.35);
    background: rgba(46, 125, 50, 0.082);
    width: 97%;
    margin: auto;
    
}
.heading{
    text-align: left;
    padding-top: 10px;
    font-family: 'Open sans';
 
 }
 .navbar-login-signup-btn{
    text-align: right;
    width: 100%;
    height: 60px;
    /* background: rgba(46, 125, 50, 0.2); */
    padding-right: 50px;
 }
.add-post-container{
    width: 600px;
}
.setting-container{
    background: rgb(42, 42, 42);
    color: white;
    width: 300px;
    height: 100%;
    text-align:center;
}